{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <h1>Tasks</h1>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Task Name</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.dueDate|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Add New</h2>
    {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}

    {{ form_row(form.name) }}
    {{ form_row(form.dueDate) }}

    <input type="submit" class="btn btn-success" value="Add Task">

    {{ form_end(form) }}


{% endblock %}
